{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>
		je suis
		{{ personne.nom }}
		{{ personne.prenom }}
		j'ai
		{{ personne.age }}
	</h1>
{% endblock %}
